<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron demo">
    <div class="container">
        <h1 class="display-3">PTRM&trade;</h1>
        <p>Training and Readiness (T&amp;R) is a growing priority for the U.S. Department of Defense. Military organizations are turning to industry for innovative electronic training and simulation solutions with which to hone soldiers' core skills and capabilities.</p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Try a strategy simulation &raquo;</a></p>
    </div>
</div>
<hr>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
          <h3>Psycological Review</h3>
          <p>A comprehensive review of terminology for AP Psychology. Definitions are for triggering other information. (Pulled from other lists.). </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3>DARPA Approved</h3>
          <p>Officials of the U.S. Defense Advanced Research Projects Agency (DARPA) in Arlington, Va., announced $10 million contract for Training and Readiness virtual algorithm networks. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Statistics</h3>
            <p>Budgetary restrictions are no longer effecting training requirements. Review the total cost of ownership per branch.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>