<div class="container-fluid" style="padding-top: 2em;">

<div class="header">
	<h2>Cognitive Scenario Processing Modules</h2>
	<p>The Perry Method is designed to reduce repetition in combat scenarios where outcomes are static given each variable.</p>
</div>

<form>

<section class="setup">
	<div class="form-group">
		<label for="exampleInputID">Trainee Identifier</label>
		<input type="text" class="form-control" id="exampleInputID" aria-describedby="idHelp" placeholder="Enter trainee ID" #name (keyup)="named = name.value">
		<small id="idHelp" class="form-text text-muted">Use your BlackBoard, CAC, ASPN or MICN ID to generate a trainee ID number.</small>
	</div>
</section>

<section class="module" 
	[ngClass]="{
	   module: true,
	   solved:
		   switch1.value == switch1Number &&
		   switch2.value == switch2Number &&
		   switch3.value == switch3Number &&
		   switch4.value == switch4Number
	   }"
	[ngStyle]="{display: name.value === '' ? 'none':'block'}">
	   <h2>The problem is {{ switch1.value == switch1Number && switch2.value == switch2Number && switch3.value == switch3Number && switch4.value == switch4Number ? ' solved!':' not solved!'}}</h2>
	   <p>Ok <span class="name">{{ named | titlecase }}</span>, each box should contain a value of 1 or 0 (or blank). Once you have found the right combination the puzzle will be solved.</p>
	   <hr>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="switch1">#1</label>
					<input type="text" class="form-control" id="switch1"  placeholder="?" #switch1 (keyup)="0">
				</div>
		   </div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="switch2">#2</label>
					<input type="text" class="form-control" id="switch2"  placeholder="?" #switch2 (keyup)="0">
				</div>
		   </div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="switch3">#3</label>
					<input type="text" class="form-control" id="switch3"  placeholder="?" #switch3 (keyup)="0">
				</div>
		   </div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="switch4">#4</label>
					<input type="text" class="form-control" id="switch4"  placeholder="?" #switch4 (keyup)="0">
				</div>
		   </div>   
		</div>
</section>

<section class="validate" [hidden]="switch1.value != switch1Number || switch2.value != switch2Number || switch3.value != switch3Number || switch4.value != switch4Number">
   <h1>Congradulations {{ named | titlecase }}, you have solved the problem.</h1>
</section>

</form>
</div>
